<% provide(:title, 'All users') %>
<h1>All users</h1>

<%= will_paginate %>

<ul class="users">
   <!-- <% @users.each do |user| %>
    <li>
      <%= gravatar_for user, size: 52 %>
      <%= link_to user.name, user %>
    </li>
    可用下面的替换上面的，这里没有指定局部视图的字符串，而是代表 User类的user变量，他会自动去找_user.html.erb
    <%= render user %>
  <% end %> -->
  <!-- Rails 会把 @users 当作一系列的 User 对象，遍历这些对象，然后使用 _user.html.erb 渲染每个对象 -->
  <%= render @users %>

</ul> 

<%= will_paginate %>